 <div class="custom-featured-img-container">
    <img 
    class="lazy-img article-featured-img" 
    src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
    data-src="http://localhost:2368/content/images/2020/01/sijoitusyhtio.jpg"
    >
</div>