{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<header class="site-home-header">
    {{> header-background background=@site.cover_image}} {{!--Special header-image.hbs partial to generate the background image--}}
        <div class="inner">
            {{> "site-nav"}}
            <div class="site-header-content">
                <div class="mascot">
                    <img class="home-logo lazy-img" data-src="{{asset 'images/full-logo-pohatta.png' size="s"}}" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="/>
                </div>
                <h1 class="site-title">{{@site.title}}</h1>
                <h2 class="site-description">{{@site.description}}</h2>
            </div>
        </div>
    </div>
</header>

{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
    <div class="inner posts">
        <div class="post-feed">
            {{#get "posts" limit="1"}}
                {{#foreach posts}}

                <article class="post-card post">
                <header class="post-card-header">
                <h2>P.Ohatta lyhyesti</h2>
                </header>
                <section class="post-card-excerpt">
                    <p class="home-intro"> 
                        <a href="{{url}}">Uusin artikkeli</a>. 
                        Aloitin <a href="https://www.pohatta.com/arkisto">blogini</a> 2013 ihmiskokeena kohti eläkettä eli taloudellista riippumattomuutta. 
                        Kuvittelin rahan tekevän onnelliseksi. Nyt ymmärrän elämän olevan jotain aivan muuta ja
                        optimoin vapauden ennen euroja.
                        Lisää: <a href="https://www.pohatta.com/620/pohatta-pahkinankuoressa">Pohatta pähkinänkuoressa</a> 
                        
                    </p>
            </article>

                {{/foreach}}
            {{/get}}
            
           
            <article class="post-card post">
                <header class="post-card-header">
                    <h2>Blogin tarkoitus</h2>
                </header>
                <section class="post-card-excerpt">
                    <p class="home-intro">
                        Toivon, että tarinani antavat sinulle uusia ajatuksia ja käytännöllisiä vinkkejä. 
                        En tiedä juuri mitään, mutta kokeilujen kautta pyrin olemaan vähemmän väärässä. Sinun pitää löytää oma tiesi, 
                        mutta tarinoideni kautta voit vähintäänkin välttää tekemästä samoja virheitä.
                    </p>
                </section>
            </article>
           
            <article class="post-card post">
                <header class="post-card-header">
                <h2>Sisältö</h2>
                </header>
                <section class="post-card-excerpt">
                    <p class="home-intro">
                         <a href="https://www.pohatta.com/tag/kuukausikatsaus/" target="_blank" >Kuukausikatsauksista</a>
                        löydät sijoitukseni ja eläketavoitteen tilanteen.
                        Talouden lisäksi tarinani kertovat kaikesta minne uteliaisuuteni vie.                    
                        Kirjoitan satunnaisesti ja paras tapa pysyä kartalla uusista artikkeleista on 
                        <a href="https://www.pohatta.com/sisapiiri" target="_blank" >sisäpiiri</a>.
                        Saatavilla myös 
                        &nbsp;<a href="https://twitter.com/RahaPohatta" target="_blank" >Twitter, </a> 
                        <a href="https://www.facebook.com/pohatta" target="_blank" >Facebook </a> ja 
                        <a href="https://www.pohatta.com/feed" target="_blank" >feed.</a>
                    </p>
                </section>
            </article>
            <h2 class="featured-posts-header">Eniten mielipiteitä herättäneet kirjoitukset</h2>
             {{#get "posts" filter="featured:true"}}
                {{#foreach posts}}

                    {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                    {{> "post-card"}}

                {{/foreach}}
            {{/get}}
        </div>
    </div>
</main>

{{> site-header}}

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
<script>

    // NOTE: Scroll performance is poor in Safari
    // - this appears to be due to the events firing much more slowly in Safari.
    //   Dropping the scroll event and using only a raf loop results in smoother
    //   scrolling but continuous processing even when not scrolling
    $(document).ready(function () {
        
        var nav = document.querySelector('.site-nav-main .site-nav');
        var feed = document.querySelector('.post-feed');

        var lastScrollY = window.scrollY;
        var lastWindowHeight = window.innerHeight;
        var lastDocumentHeight = $(document).height();
        var ticking = false;

        function onScroll() {
            lastScrollY = window.scrollY;
            requestTick();
        }

        function onResize() {
            lastWindowHeight = window.innerHeight;
            lastDocumentHeight = $(document).height();
            requestTick();
        }

        function requestTick() {
            if (!ticking) {
                requestAnimationFrame(update);
            }
            ticking = true;
        }

        function update() {
            var trigger = feed.getBoundingClientRect().top + window.scrollY;
            var progressMax = lastDocumentHeight - lastWindowHeight;

            // show/hide nav
            if (lastScrollY >= trigger - 20) {
                nav.classList.add('fixed-nav-active');
            } else {
                nav.classList.remove('fixed-nav-active');
            }

            ticking = false;
        }

        window.addEventListener('scroll', onScroll, { passive: true });
        window.addEventListener('resize', onResize, false);

        update();

    });
</script>
{{/contentFor}}