/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/montserrat-v14-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../fonts/montserrat-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat-v14-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}

body {
    font-family: 'Montserrat', Fallback, sans-serif;
    letter-spacing: -0.75px;
}

.under-construction {
    position: absolute;
    top: 64px;
    width: 100%;
    z-index: 999;
    text-align: center;
    color: #f00;
}

p.home-intro {
    letter-spacing: -.25px;
}

.js-allowed {
    display: none;
}


/*Logo*/
.site-nav-logo {
    padding: 0;
    margin-right: 20px;
}

@media (max-width: 500px) {
    .site-nav-logo {
        margin-right: 8px;
    }
}

.site-nav-logo img {
    height: 45px;
}

.mascot {
    height: 200px;
}

/*Header & NAV*/

.home-template .site-nav-main .site-nav {
    opacity: 1;
}

.site-header-background,
.site-nav-main {
    background: #fff;
    color: #000;
}

.site-header-background:not(.responsive-header-img) .site-nav-left-wrapper:after, .site-nav-main .site-nav-left-wrapper:after {
    display: none;
}

.site-nav-content {
    width: 100%;
}

.nav li a { 
    color: #000;
}
.nav li a:hover { 
    color: #888;
}

a.nextprev {
    font-size: 32px;
    margin: 0 7px;
    height: 25px;
    width: 25px;
}

.social-link svg,
.rss-button svg {
    fill: #000;
}

/*Search*/

form#search-form {
    background-color: #fff;
    display: flex;
    border: 1px solid #888;
    border-radius: 5px;
    margin: 0 15px;
}

@media (max-width: 500px) {
    form#search-form {
        margin: 0 10px;
    }
}

input#search {
    background-color: unset;
    position: relative;
    display: flex;
    width: 175px;
    padding: 3px 10px;
    cursor: text;
    border: none;
    font-size: 16px;
}

@media (max-width: 500px) {
    input#search {
        width: 100px;
    }
}

div#search-result {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
}
div#search-result a{
    padding: 5px 15px;
    width: 100%;
    font-size: 0.9em;
    border-bottom: 1px solid #888;
    align-self: center;
}

button#search-btn {
    background-color: unset;
    width: 30px;
    height: 30px;
    margin: 0 5px 0 0;
}

#search-btn svg {
    width: 20px;
    fill: #000;
}
#search-btn svg:hover {
    fill: #888;
}

/* Home */
.site-home-header {
    z-index: 0;
}
.site-home-header .site-header-background {
    margin-top: 55px;
}

.featured-posts-header {
    margin: auto;
    width: 90%;
    display: block;
    text-align: center;
    margin-bottom: 40px;
    margin-top: -20px;
    font-size: 2.5rem;
    font-weight: 600;
}

.post-card-image {
    background: #888 no-repeat 50%;
    display: none; 
}

@media (max-width: 500px) {
    .featured-posts-header {
        font-size: 2.0rem;
        margin-top: 0px;
    }
}

@media (min-width: 795px) {
    .post-card-large .post-card-image-link {
        min-height: 310px;
    }

    .post-card-large .post-card-content { 
        flex: 0 1 50%;
    }
}

.post-card-excerpt {
    font-family: unset;
}

.custom-post-feed {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
    padding: 50px 0 0;
    padding: 0px 0 5vw;

}


/*Custom archive for posts*/
li.post-list-li a, 
.tag-span a {
    box-shadow: unset;
    color: #0086ce;
}

/*Posts*/
.post-full-content {
    font-family: unset;
}

.post-full-content h2 {
    margin: .5em 0 .5em;
}

.post-full-content a {
    color: #0086ce;
    box-shadow: unset;
}

.read-next {
    border-bottom: 1px solid hsla(0,0%,100%,.1);
    border-top: 1px solid hsla(0,0%,100%,.1);
    background: #fff;
}

.read-next-card {
    background: unset;
}

.read-next .post-card-excerpt,
.read-next-card-content,
.read-next-card-meta p,
.read-next-card-footer a,
.read-next .post-card-title, 
.read-next-card-header h3,
.read-next-card-header h3 a, 
.read-next-card-content li a,
.read-next .post-card-primary-tag,
.read-next .post-card-byline-content {
    color: #000;
}

.read-next-card-footer a {
    border: 1px solid #000;
}
.read-next-card-footer a:hover {
    border: 1px solid #888;
    color: #888;
}

.read-next .static-avatar {
    border-color: #fff;
}

/*Tag*/
.site-title-tag {
    z-index: 10;
    margin: 0 0 0 -2px;
    padding: 0;
    font-size: 3.5rem;
    line-height: 1em;
    font-weight: 600;
}

/*Footer*/
.site-footer,
.site-footer-content,
.site-footer-content a {
    color: #000;
    background: #fff;
}

.site-footer-content a:hover {
    color: #888;
}

/*Isso overrides*/

#isso-thread .textarea.placeholder {
    background: unset;
    border: 1px solid #757575;
}

.isso-postbox > .form-wrapper > .auth-section .input-wrapper input {
    background: unset !important;
    border: 1px solid #757575 !important;
}

.isso-postbox > .form-wrapper > .auth-section > .post-action > input {
    border-radius: 5px !important;
    border: 1px solid #0086ce !important;
    background-color: #0086ce !important;
    color: #ffffff;  
}

@media only screen and (prefers-color-scheme: dark) {
    
    .site-nav-main {
        background: #141517;
        color: rgba(255, 255, 255, 0.75);
    }

    .site-header-background {
        background: var(--darkmode);
        color: rgba(255, 255, 255, 0.75);
    }
    
    .nav li a { 
        color: rgba(255, 255, 255, 0.75);
    }
    
    .social-link svg,
    .rss-button svg {
        fill: rgba(255, 255, 255, 0.75);
    }
    
    /*Search*/

    form#search-form {
        background-color: var(--darkmode);
    }
    
    #search-btn svg {
        fill: rgba(255, 255, 255, 0.75);
    }
    
    .read-next {
        background: var(--darkmode);
    }
    
    .read-next-card {
        background: unset;
    }
    
    .read-next .post-card-excerpt,
    .read-next-card-content,
    .read-next-card-meta p,
    .read-next-card-footer a,
    .read-next .post-card-title, 
    .read-next-card-header h3,
    .read-next-card-header h3 a, 
    .read-next-card-content li a,
    .read-next .post-card-primary-tag,
    .read-next .post-card-byline-content {
        color: rgba(255, 255, 255, 0.75);
    }
    
    .read-next-card-footer a {
        border: 1px solid rgba(255, 255, 255, 0.75);
    }
    
    .read-next .static-avatar {
        border-color: #000;
    }
    
    /*Footer*/
    .site-footer,
    .site-footer-content,
    .site-footer-content a {
        color: rgba(255, 255, 255, 0.75);
        background: var(--darkmode);
    }

}