/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/montserrat-v14-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../fonts/montserrat-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat-v14-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}

body {
    font-family: 'Montserrat', Fallback, sans-serif;
    letter-spacing: -0.75px;
}

p.home-intro {
    letter-spacing: -.25px;
}


/*Logo*/
.site-nav-logo {
    padding: 0;
}

.site-nav-logo img {
    height: 45px;
}

.mascot {
    height: 200px;
}

/*Header & NAV*/
.site-header-background,
.site-nav-main {
    background: #fff;
    color: #000;
}

.site-header-background:not(.responsive-header-img) .site-nav-left-wrapper:after, .site-nav-main .site-nav-left-wrapper:after {
    background: unset;
}

.nav li a { 
    color: #000;
}
.nav li a:hover { 
    color: #888;
}

.social-link svg,
.rss-button svg {
    fill: #000;
}

/* Home */
.featured-posts-header {
    margin-left: 20px;
    width: 100%;
    display: block;
    text-align: center;
    margin-bottom: 40px;
    margin-top: -20px;
    font-size: 2.5rem;
    font-weight: 600;
}

@media (max-width: 500px) {
    .featured-posts-header {
        font-size: 2.0rem;
        margin-top: 0px;
    }
}


@media (min-width: 795px) {
    .post-card-large .post-card-image-link {
        min-height: 310px;
    }

    .post-card-large .post-card-content { 
        flex: 0 1 50%;
    }
}

.post-card-excerpt {
    font-family: unset;
}



/*Custom archive for posts*/
li.post-list-li a, 
.tag-span a {
    box-shadow: unset;
    color: #0086ce;
}

/*Posts*/
.post-full-content {
    font-family: unset;
}

.post-full-content a {
    color: #0086ce;
    box-shadow: unset;
}

.read-next {
    border-bottom: 1px solid hsla(0,0%,100%,.1);
    border-top: 1px solid hsla(0,0%,100%,.1);
    background: #fff;
}

.read-next-card {
    background: unset;
}

.read-next .post-card-excerpt,
.read-next-card-content,
.read-next-card-meta p,
.read-next-card-footer a,
.read-next .post-card-title, 
.read-next-card-header h3,
.read-next-card-header h3 a, 
.read-next-card-content li a,
.read-next .post-card-primary-tag,
.read-next .post-card-byline-content {
    color: #000;
}

.read-next-card-footer a {
    border: 1px solid #000;
}
.read-next-card-footer a:hover {
    border: 1px solid #888;
    color: #888;
}

.read-next .static-avatar {
    border-color: #fff;
}

/*Footer*/
.site-footer,
.site-footer-content,
.site-footer-content a {
    color: #000;
    background: #fff;
}

.site-footer-content a:hover {
    color: #888;
}