
/*Logo*/
.site-nav-logo {
    padding: 0;
}

.site-nav-logo img {
    height: 45px;
}

img.home-logo {
    max-height: 200px;
}

/*Header & NAV*/
.site-header-background,
.site-nav-main {
    background: #fff;
    color: #000;
}

.site-header-background:not(.responsive-header-img) .site-nav-left-wrapper:after, .site-nav-main .site-nav-left-wrapper:after {
    background: unset;
}

.nav li a { 
    color: #000;
}
.nav li a:hover { 
    color: #888;
}

.social-link svg,
.rss-button svg {
    fill: #000;
}

/* Home */
.featured-posts-header {
    margin-left: 20px;
    width: 100%;
    display: block;
    text-align: center;
}

@media (min-width: 795px) {
    .post-card-large .post-card-image-link {
        min-height: 310px;
    }

    .post-card-large .post-card-content { 
        flex: 0 1 50%;
    }
}



/*Custom archive for posts*/
li.post-list-li a, 
.tag-span a {
    box-shadow: unset;
    color: #0086ce;
}

/*Posts*/
.post-full-content a {
    color: unset;
    box-shadow: unset;
}

/* .post-full-image {
    display: none;
} */

.custom-featured-img-container {
    max-width: 250px;
    align-self: start;
}

img.lazy-img {
    width: 100%;
}

/*Footer*/
.site-footer,
.site-footer-content,
.site-footer-content a {
    color: #000;
    background: #fff;
}

.site-footer-content a:hover {
    color: #888;
}